.Header-Bar{
  background-color: rgb(2, 26, 19);
  height: 50px;
  width: 69.2%;
  padding-left: 30%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  margin:0px;
}